@{
	bool isSuccess = Convert.ToBoolean(TempData["isSuccess"] ?? false);
	string message = Convert.ToString(TempData["message"] ?? string.Empty);
	
}
@if (!string.IsNullOrEmpty(message))
{
	<div id="alert" class="alert alert-@(isSuccess ? "success" : "danger") m-4" role="alert">
		@message
	</div>
}
@model WalletModel
<section class="w-100 p-4" style="background-color: #9de2ff; border-radius: .5rem .5rem 0 0; height:100vh">
	<div class="row d-flex justify-content-center">
		<div class="col col-md-9 col-lg-7 col-xl-6">
			<div class="card" style="border-radius: 15px;">
				<div class="card-body p-4">
					<div class="d-flex">
						<div class="flex-shrink-0">
							<img src="@Url.Content(Model.ImagePath)"
								 alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h5 class="mb-1">@Model.WalletUserName</h5>
							<p>Level 1</p>
							<p>@Model.MobileNo</p>
							<div class="d-flex pt-1">
								<a  href="/Wallet/Edit/@Model.WalletId" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1">Edit Profile</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center mt-4">
		<h2>Total Balance</h2>
		<h1>@Model.Balance</h1>
		<button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1">Deposit</button>
		<button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1">Withdraw</button>
		<button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1">Transfer</button>
	</div>
</section>
